/* ./src/assets/application.css */

* {
  font-size: 15px;
  font-weight: normal;
  font-family: -apple-system, 'BIZ UDPMincho','Oswald', BlinkMacSystemFont, 'Segoe UI', Roboto,Oxygen-Sans, Ubuntu, Cantarell, '微軟正黑體', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #4d4d4d;
  outline: none;
}

body {
  background: white;
}

.signup, .signin {
  color: #A6450D;
  transition: all 0.3s ease-in-out;
}

.table td,
.table th {
  vertical-align: middle;
}

.page-link:focus,
.form-control:focus,
.btn,
.navbar-dark .navbar-toggler {
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.form-control:hover,
.form-control:focus {
  border: 1px solid #8c0303;
}

.form-control {
  font-size: 18px;
  resize: none;
}

/* TODO:jumbotron 相關 */

.jumbotron {
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn; 
  animation-duration: 5s;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.jumbotron-title {
  text-align: center;
  width: 60%;
  margin: 50px 0;
  animation: fadeInLeft; 
  animation-duration: 3s;  
}

.title-area { 
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.jumbotron-introduce {
  animation: fadeInRight; 
  animation-duration: 3s;
}

.introduce {
  color: white;
  font-size: 25px;
  font-family: 'Helvetica Neue';
  letter-spacing: 2px;
}


/* TODO: card相關 */
.card:hover .card-header,
.card:hover .name,
.card:hover .description {
  color: black;
}

.card:hover .card-img-top {
  opacity: 1;
  border-radius: 10px;
}

.card:hover .title {
  color: black;
}

.title ::after {
  content: "";
  display: block;
  width: 0;
  background: #f28705;
  transition: width 0.5s;
}

.title :hover::after {
  width: 100%;
}

.card:hover .badge {
  color: #f28705;
}

.card {
  border: none;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0.6;
}

.card-header {
  border: 1px solid #d5cec0;
  border-bottom: 0;
  width: 30%;
  padding: 15px 0;
  margin-bottom: 0;
  text-align: center;
  background-color: transparent;
  font-size: 22px;
  color: #595959;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.card-item {
  width: 100%;
  margin: 5px 0;
  border-bottom: 1px solid #D5CEC0;
}

.name {
  display: inline-block;
  font-size: 20px;
  color: #595959;
  text-decoration: none;
}

small {
  font-size: 15px;
  margin-left: 20px;
  color: #8C0303;
}

.description {
  color: #595959;
  font-size: 15px;
  margin: 0;
}

.time {
  display: flex;
  justify-content: flex-end;
}

.card-footer {
  border: none;
  background-color: transparent;
  padding: 0;
}

.no-restaurant {
  font-size: 25px;
  font-style: italic;
  margin: 15px 0 30px 0;
  display: flex;
  justify-content: center;
  animation: zoomIn; /* 引用動畫的 @keyframe 名稱 */
  animation-duration: 3s; /* 別忘了設定持續時間 */
}

/* TODO: Restaurant Detail 相關 */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8% 8% 3% 8%;
}

.spinner {
  margin-top: 20%;
}

.back {
  position: fixed;
  bottom: 0;
  left: 5%;
  border-radius: 5px 5px 0 0;
  border: 1px solid #f28705;
  color: #595959;
  font-size: 20px;
  font-weight: 500;
  animation: fadeInUp; 
  animation-duration: 5s;
}

.back:hover {
  color: white;
  background-color: #f28705;
}

.main-container:hover .restaurant-title,
.main-container:hover .description,
.main-container:hover li,
.main-container:hover strong {
  color: black;
}

.main-container:hover .category-name {
  color: #f28705;
}

.main-container:hover .img-responsive {
  opacity: 1;
  border-radius: 15px;
}

/* TODO: User相關 */
.main-container:hover .user-name {
  color: black;
}

.main-container:hover .user-mail {
  color: #f28705;
}

.main-container:hover .user-avatar {
  border-radius: 15px;
  transition-duration: 2s;
}

.user-card:hover .user-header,
.user-card:hover .user-body  {
  border: 1px solid #595959;
  box-shadow: none;
  transition-duration: 2s;
}

.user-card:hover .user-header {
  border-bottom: none;
  color: black;
}

.user-card:hover .restaurant-avatar {
  border-radius: 0;
}

.user-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #D5CEC0;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
}

.user-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;  
  border: 1px solid #D5CEC0;
  border-radius: 0 3px 3px 0;
}

/* TODO: Admin相關 */
.admin-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.form-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.admin-container {
  border: 1px solid #595959;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  margin: 8% 0;
}

.admin-container:hover {
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #8c0303;
  border-radius: 10px;
  transition-duration: 2s;
}

.table {
  animation: zoomIn;
  animation-duration: 2s;
}

.thead {
  background-color: #8C0303;
  opacity: 0.8;
}

.column {
  color: white;
  font-size: 18px;
  font-weight: 400;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tr-item:hover .id,
.tr-item:hover .category,
.tr-item:hover .title {
  color: black;
}

.tr-item {
  border-bottom: 1px solid #D5CEC0;
}

.table td {
  border-top: none;
}

.tr-item tr {
  display: flex;
  align-items: center;
}

.row, .category, .title, 
.btn-link {
  color: #595959;
}

.id, .category, .title {
  font-size: 18px;
}

.id {
  font-style: italic;
}

.btn-link:hover {
  color: #f28705;
  border-radius: 0;
  transition-duration: 1s;
}

.delete {
  color: #595959;
  border: 2px solid transparent;
}

.delete:hover {
  color: #8c0303;
  border-bottom: 2px solid #8c0303;
  border-radius: 0;
  transition-duration: 1s;
}

/* TODO: Admin show page 相關 */
.show-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8% 8% 3% 8%;
}

.show-container {
  border: 1px solid #d5cec0;
  width: 75%;
  animation: zoomIn; 
  animation-duration: 3s;  
  border-radius: 3px;
}

.show-container:hover {
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #8c0303;
  border-radius: 10px;
  transition-duration: 2s;
}

.show-container:hover .restaurant-title,
.show-container:hover .description,
.show-container:hover li,
.show-container:hover strong {
  color: black;
}

.show-container:hover img {
  opacity: 1;
  border-radius: 15px;
  transition-duration: 2s;
}

/* TODO: Admin form page 相關 */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  border: 1px solid #d5cec0;
  width: 75%;
  animation: zoomIn; 
  animation-duration: 3s;  
  border-radius: 3px; 
}

.form-container:hover {
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #8c0303;
  border-radius: 10px;
  transition-duration: 2s;
}

/* TODO: 404 Not found  */
.error-page {
  margin: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* 原設定的css */
.card-container {
  margin: 3%;
}

h1,
.card-text {
  font-family: serif;
}

.card-text {
  font-size: 18px;
}

.card-text.title-wrap {
  margin: 0;
}

.card-text a {
  font-size: 24px;
  line-height: 1.3;
}

.swal2-popup.swal2-toast {
  box-shadow: none;
  border: 1px solid #dadada;
}