/* ./src/assets/application.css */
* {
  font-size: 15px;
  font-weight: normal;
  font-family: -apple-system, 'BIZ UDPMincho', 'Oswald', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, '微軟正黑體', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #4d4d4d;
  outline: none;
}

body {
  background: white;
}

ul, li {
  list-style-type: none;
}

.card-container {
  margin: 3%;
}

h1,
.card-text {
  font-family: serif;
}

.card-text {
  font-size: 18px;
}

.card-text.title-wrap {
  margin: 0;
}

.card-text a {
  font-size: 24px;
  line-height: 1.3;
}

/* * Toast相關設定 */
.swal2-popup.swal2-toast {
  box-shadow: none;
  border: 1px solid #dadada;
  position: fixed;
  top: 10%;
}

.swal2-toast.swal2-icon-success {
  background-color: #ffffff !important;
}

.swal2-toast.swal2-icon-error {
  background-color: #f9c1c1 !important;
}

.swal2-toast.swal2-icon-warning {
  background-color: #fcd2ad !important;
}

/* *Signin、Signout */
.signup,.signin {
  color: #A6450D;
  transition: all 0.3s ease-in-out;
}

.table td, .table th {
  vertical-align: middle;
}

.page-link:focus, .form-control:focus,
.btn, .navbar-dark .navbar-toggler {
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.form-control:hover, .form-control:focus {
  border: 1px solid #8c0303;
}

.form-control {
  font-size: 18px;
  resize: none;
}

.copy {
  color: #3c3b3b;
  font-size: 12px;
}

/* *back btn 相關 */
.back {
  position: fixed;
  bottom: 0;
  left: 5%;
  background-color: #f28705;
  border-radius: 5px 5px 0 0;
}

.back:hover {
  border-radius: 5px 5px 0 0;
  background-color: rgba(140, 3, 3, 0.8);
  transition-duration: 0.5s;
}

.back-icon {
  padding: 5px 8px 0 8px;
}

/* *jumbotron 相關 */
.jumbotron {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn;
  animation-duration: 3s;
  position: relative;
  overflow:hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.jumbotron-title {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.title-area {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  animation: fadeInLeft;
  animation-duration: 3s;
}

.introduce {
  color: white;
  font-family: 'Helvetica Neue';
  letter-spacing: 2px;
  animation: fadeInRight;
  animation-duration: 3s;
}

/* *card相關 */
.cards {
  display: flex;
  margin: 0;
}

.card:hover .card-header,
.card-item:hover .name,
.card-item:hover .text,
.card-item:hover .title {
  color: black;
}

.card-img-top {
  width: 100%;
  object-fit: cover;
  opacity: 0.6;
}

.no-restaurant {
  font-size: 25px;
  font-style: italic;
  margin: 15px 0 30px 0;
  display: flex;
  justify-content: center;
  animation: zoomIn;
  /* 引用動畫的 @keyframe 名稱 */
  animation-duration: 3s;
  /* 別忘了設定持續時間 */
}

.card:hover .card-img-top {
  opacity: 1;
  border-radius: 10px;
}

.title ::after {
  content: "";
  display: block;
  width: 0;
  background: #f28705;
  transition: width 1s;
}

.title :hover::after {
  width: 100%;
}

.card:hover .badge {
  color: #f28705;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.card-footer {
  border: none;
  background-color: transparent;
  padding: 0;
}

.text {
  color: #595959;
  font-size: 15px;
  margin: 0;
}

.time {
  display: flex;
  justify-content: flex-end;
}

/* *User相關 */
.main-container:hover .restaurant-title,
.main-container:hover .description,
.main-container:hover li,
.main-container:hover strong {
  color: black;
}

.main-container:hover .avatar {
  opacity: 1;
  border-radius: 10%;
}

.main-container:hover .category-name, 
.main-container:hover .user-mail {
  color: #f28705;
}

.main-container:hover .user-name {
  color: black;
}

.user-card:hover .user-header,
.user-card:hover .user-body {
  border: 1px solid #595959;
  box-shadow: none;
  transition-duration: 1s;
}

.user-card:hover .user-header {
  border-bottom: none;
  color: black;
}

.user-card:hover .restaurant-avatar {
  border-radius: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  margin-top: 20%;
}

.user-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #D5CEC0;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
}

.user-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #D5CEC0;
  border-radius: 0 3px 3px 0;
}

.avatar {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-radius: 5px;
} 

.restaurant-avatar {
  width: 50px;
  height: 50px;
}

/* *Admin相關 */
.admin-spinner,
.form-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.admin-container {
  border: 1px solid #595959;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.admin-container:hover {
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #8c0303;
  border-radius: 10px;
  transition-duration: 1s;
}

.table {
  animation: zoomIn;
  animation-duration: 3s;
}

.thead {
  background-color: #8C0303;
  opacity: 0.8;
}

.column {
  color: white;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tr-item:hover .id,
.tr-item:hover .category,
.tr-item:hover .title {
  color: black;
}

.tr-item {
  border-bottom: 1px solid #D5CEC0;
}

.table td {
  border-top: none;
}

.tr-item tr {
  display: flex;
  align-items: center;
}

.category, .title, .name,
.btn-link {
  color: #595959;
}

.id {
  font-style: italic;
}

.btn-link:hover {
  color: #f28705;
  border-radius: 0;
  transition-duration: 1s;
}

.delete {
  color: #595959;
  border: 2px solid transparent;
}

.delete:hover {
  color: #8c0303;
  border-bottom: 2px solid #8c0303;
  border-radius: 0;
  transition-duration: 1s;
}

/* *Admin show page 相關 */
.show-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-container {
  border: 1px solid #d5cec0;
  animation: zoomIn;
  animation-duration: 3s;
  border-radius: 3px;
  width: 75%;
}

.show-container:hover {
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #8c0303;
  border-radius: 10px;
  transition-duration: 1s;
}

.show-container:hover .restaurant-title,
.show-container:hover .description,
.show-container:hover li,
.show-container:hover strong {
  color: black;
}

.show-container:hover img {
  opacity: 1;
  border-radius: 15px;
  transition-duration: 1s;
}

.show-container:hover .category-name {
  color: #f28705;
  transition-duration: 1s;
}

/* *Admin form page 相關 */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container {
  border: 1px solid #d5cec0;
  width: 75%;
  animation: zoomIn;
  animation-duration: 3s;
  border-radius: 3px;
}

.form-container:hover {
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #8c0303;
  border-radius: 10px;
  transition-duration: 1s;
}

/* *404 Not found */
.error-page {
  margin: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* *=============== RWD <575px ===============* */
@media (max-width: 575px) {
  .jumbotron {
    display: none;
  }

  .card-img-top {
    width: 50%;
    height: 100%;  
  }

  .page-title {
    animation: fadeInLeft;
    animation-duration: 3s;
  }

  .show-page {
    margin: 15% 0;
  }
}

/* *=============== RWD <767px >576px ===============* */
@media (min-width: 576px) and (max-width: 767px) {
  .jumbotron {
    height: 40vh;
    padding-top: 4.5rem;
  }

  .jumbotron-title {
    justify-content: space-evenly;
    width: 80%;
  }

  .introduce {
    font-size: 18px;
  }

  .title-area {
    font-size: 32px;
  }

  .card-img-top {
    height: 60%;
  }

  .main {
    margin: 12% 0 4% 8%;
  }

  .admin-container {
    width: 76%;
    margin: 12% 0 3% 8%;
  }

  .show-page {
    margin: 12% 0 3% 15%;
  }

  .show-container {
    width: 80%;
  }
}

/* *=============== RWD <991px >768px ===============* */
@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron {
    height: 50vh;
  }

  .jumbotron-title {
    justify-content: space-evenly;
    width: 80%;
  }

  .introduce {
    font-size: 28px;
  }

  .title-area {
    font-size: 42px;
  }

  .card-img-top {
    height: 60%;
  }

  .main {
    margin: 12% 3% 3% 8%;
  }

  .admin-container {
    width: 75%;
    margin: 12% 0 3% 5%;
  }

  .column {
    font-size: 16px;
  }

  .id,
  .category {
    font-size: 16px;
  }

  .show-page {
    margin: 12% 0 3% 10%;
  }

  .show-container {
    width: 80%;
  }
}

/* *=============== RWD >992px ===============* */

@media (min-width: 992px) {
  .jumbotron {
    height: 58vh;
  }

  .jumbotron-title {
    justify-content: space-evenly;
    width: 80%;
  }

  .introduce {
    font-size: 35px;
  }

  .title-area {
    font-size: 60px;
  }

  .card-img-top {
    height: 65%;
  }

  .main {
    margin: 8% 8% 3% 8%;
  }

  .admin-container {
    width: 70%;
    margin: 8% 5% 12% 3%;
  }

  .column {
    font-size: 18px;
  }

  .id,
  .category {
    font-size: 18px;
  }

  .show-page {
    margin: 10% 0 3% 10%;
  }

  .show-container {
    width: 85%;
  }
}

/* *=============== RWD >1440px ===============* */

@media (min-width: 1439px) {
  .jumbotron {
    height: 62vh;
  }

  .jumbotron-title {
    justify-content: space-evenly;
  }
  
  .jumbotron-title {
    width: 70%;
  }

  .card-img-top {
    height: 65%;
  }

  .show-container {
    width: 90%;
  }
}